* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card {
  background: white;
  display: flex;
  flex-direction: row;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
}

.card-img {
  background: url("./image-product-desktop.jpg") center/cover no-repeat;
  width: 50%;
}

.card-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.category {
  letter-spacing: 5px;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
}

.title {
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 1.1;
}

.desc {
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 1.6;
}

.prices {
  display: flex;
  align-items: center;
  gap: 20px;
}

.new {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
}

.old {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.btn {
  background: hsl(158, 36%, 37%);
  color: white;
  border: none;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

.btn:hover {
  background: hsl(158, 36%, 25%);
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
  }

  .card-img {
    background: url("./image-product-mobile.jpg") center/cover no-repeat;
    width: 100%;
    height: 300px;
  }

  .card-content {
    width: 100%;
  }
}
  .attribution { font-size: 11px;
     text-align: center;
     font-weight: bolder;
   }

    .attribution a {
       color: hsl(228, 45%, 44%); 
       font-weight: bold;
      }